
main{
	margin-top:0;
}
#page-content{
	padding:0;
	margin:0;
}


h2, h4,h1{
	font-family: 'Oswald', serif;
}

.about-content, .skills-content{
	margin-top:40px;
}



.me{
	height:100vh;
	
	
	padding-top:50px;
	margin:0;
	
	background-color:#ff3e3e;
	
}
.me a{
	padding:13px;
	background-color:white;
	color:#222;
	
	font-family:'Oswald';
	font-weight:400;
	font-size:15px;
	transition:all 0.3s!important;
} 

.me a:hover{
	padding:15px;
	text-decoration:underline;
	font-size:18px;
} 

.me_txt{
	color:white;

	
}
.me-lastchild{
		margin-bottom:10vw;
		
}

.skills{
	padding-top:50px;
	height:100vh;
	background-color:#ff3e3e;;
	color:white;
	text-align:center;
}

.skills h5{
	
	margin-top:0;
	
}
.progress-bar-grey{
	background-color:#333;
}