body{
	background-color:#ff3e3e;
}
header{
	height:100vh;
}
.wrapper{
	position:absolute;
	
	z-index:10;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top:100px;
	text-align:center;
}
.wrapper img{
	max-width:30vw;
	margin:auto;
	
}

@media(max-width:767px){
	.wrapper img{
	max-width:50vw;
	margin:auto;
	
	}
}
@media(max-width:500px){
	.wrapper img{
	max-width:70vw;
	margin:auto;
	
	}
}
header a{
	
	position:absolute;
	z-index:5;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom:0;
	max-width:50px;
	color:white;
	font-size:70px;
	text-align:center;
	transition:0.3s;
	
}
header a:hover{
	font-size:80px;
	color:white;
	
	
}
