.headimg{
	display:inline-block;
	
}
.imgshow,.imgshow_2,.imgshow_3,.imgshow_4,.imgshow_5{
	display:none;
}
.title,.title_2,.title_3,.title_4,.title_5{
	font-size:40px;
	text-decoration:none;
	color:grey;
	text-align:center!important;
	margin:45%;
}

.title:hover,.title_2:hover,.title_3:hover,.title_4:hover,.title_5:hover{
	color:black;
}
.title:focus,.title_2:focus,.title_3:focus,.title_4:focus,.title_5:focus{
	color:grey;
}
.title:focus:hover,.title_2:focus:hover,.title_3:focus:hover,.title_4:focus:hover,.title_5:focus:hover{
	color:black;
}