a:active,
a:hover,  a:visited  {
  outline: 0;
  color: white;
  text-decoration: none;
}


h2{
	margin:0px;
	padding:20px 0 10px 0;
}
.work{
	padding-top:50px;
	height:115vh;
	background-color:#222222;
}
.work h2{
	color:white;
	margin-bottom:40px;
}
@media (max-width: 767px){ 
	.work{
		height:150vh;
	}
}
.work .row{
	height:38%;
	position:absolute;
	right:0;
	left:0;
	margin:0;
	}


	
/*.margin-left-30{
	margin-left:30px;
}*/


.thumbnail{
	margin:0;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
	border:0;

	font-size:20px;
	
	background-color:#000;
	color:#000;
	/*box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.13);
	/*transition:1s; ////////////perguntar a opiniao sobre esta animação*/
	
	font-family: 'Oswald', serif;
	border-radius: 0;
		
	
}

/*@media (min-width: 1360px){ 
	.painel_txt { 
	font-size: 2.5vmax; 
	}
		
} 


@media (max-width: 767px){ 
	.painel_txt { 
	font-size:30px; 
	}
		
} */

.thumbnail:hover{
	color:white;
	background-color:#000000;
	
	/*text-decoration:none;*/
}

.thumbnail .painel_txt{
	background-color:white;
	color:black;
	text-decoration:underline;
}

.painel_txt{
	position:relative;
	top:45%;
	/*vertical-align:middle;*/
	padding:5px;
	
}

.painel{
	padding:10px;
	height:100%;
	
}


.graphic,.motion,.web,.interactive,.other,.drawing{
	
	background-position:center;
	background-repeat:no-repeat;
	/*background-attachment:fixed;*/
	background-size:cover;
	
}


.graphic{
	
	background-image:url("https://65.media.tumblr.com/801b03f8873d5fe23cd2de1bcba347f8/tumblr_o7oeixOGKf1qfhbc2o2_1280.jpg");
	

}
.motion{
	
	background-image:url("https://66.media.tumblr.com/36ed4e39fb405519e8187cb328858499/tumblr_o7oeixOGKf1qfhbc2o1_1280.gif");

}
.web{
	
	background-image:url("https://66.media.tumblr.com/7c91277037c3c4c0f819515aaf7a2838/tumblr_o7oeixOGKf1qfhbc2o3_1280.jpg");

}
.interactive{
	
	background-image:url("https://66.media.tumblr.com/e6f955f54b23d6e4b2ff07cfd3b197ac/tumblr_o7oeixOGKf1qfhbc2o4_500.gif");

}
.drawing{
	
	background-image:url("http://40.media.tumblr.com/9bfed5a794f191f97999ea43bcfcba4b/tumblr_mhpx91SiZ91qfhbc2o2_1280.jpg");

}
.other{
	
	background-image:url("https://66.media.tumblr.com/9c8bd371aced8fe4d85dc9e7fe9d58fd/tumblr_o76fnv04461qfhbc2o1_1280.jpg");

}

footer{
	padding-top:50px;
	padding-bottom:20px;
	background-color:#222;
	color:white;
	
}
footer a{
	text-decoration:none;
	color:white;
	

}
footer a:hover{
	text-decoration:underline;
	color:white;
}
footer .social .fa{
	transition: all 0.3s;
	padding:20px 30px 0 0;
	
}
@media (max-width: 767px){
	footer .social .fa{
		
		padding:20px 15px 0px 15px;
		
	}
}
@media (max-width: 767px){
	footer{
		text-align:center;
	}
}
footer span{
	font-size:12px;
	
	
}

footer .visible-xs{
	display:none;
	font-size:18px;
	margin-bottom:20px;

}

.social{
	margin-bottom:15px;
	font-size:25px;
}
.contact-content{
	margin-top:40px;
}
.fa-angle-up{
	font-size:70px;
	margin-bottom:25px;
	padding:0;
	transition: all 0.3s;
}
.fa-angle-up:hover{
	font-size:80px;
}

.footer-right{
	text-align:right;
}

@media (max-width: 767px){
.footer-right{
	text-align:center;
}
}
.social .fa-facebook:hover{
	color:#3b5998;
}
.social .fa-tumblr:hover{
	color:#36465d;
}
.social .fa-youtube:hover{
	color:#cc181e;
}

