main{
	margin-top:55px;
	
}
body{
	background-color:#ff3e3e;
}
.row{
	height:45%;
	position:absolute;
	right:0;
	left:0;
	margin:0;
	}


	
/*.margin-left-30{
	margin-left:30px;
}*/


.thumbnail{
	margin:0;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
	border:0;

	font-size:20px;
	
	background-color:#fff;
	color:#000;
	/*box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.13);
	/*transition:1s; ////////////perguntar a opiniao sobre esta animação*/
	
	font-family: 'Oswald', serif;
	border-radius: 0;
		
	
}

/*@media (min-width: 1360px){ 
	.painel_txt { 
	font-size: 2.5vmax; 
	}
		
} 


@media (max-width: 767px){ 
	.painel_txt { 
	font-size:30px; 
	}
		
} */

.thumbnail:hover{
	color:white;
	background-color:#000000;
	
	/*text-decoration:none;*/
}

.thumbnail:hover .painel_txt{
	background-color:white;
	color:black;
	text-decoration:underline;
}

.painel_txt{
	position:relative;
	top:45%;
	/*vertical-align:middle;*/
	padding:5px;
	
}

.painel{
	padding:5px;
	height:100%;
	
}

.graphic:hover,.motion:hover,.web:hover,.interactive:hover,.other:hover,.drawing:hover{
	
	background-position:center;
	background-repeat:no-repeat;
	/*background-attachment:fixed;*/
	background-size:cover;
	
}


.graphic:hover{
	
	background-image:url("https://65.media.tumblr.com/801b03f8873d5fe23cd2de1bcba347f8/tumblr_o7oeixOGKf1qfhbc2o2_1280.jpg");

}
.motion:hover{
	
	background-image:url("https://66.media.tumblr.com/36ed4e39fb405519e8187cb328858499/tumblr_o7oeixOGKf1qfhbc2o1_1280.gif");

}
.web:hover{
	
	background-image:url("https://66.media.tumblr.com/7c91277037c3c4c0f819515aaf7a2838/tumblr_o7oeixOGKf1qfhbc2o3_1280.jpg");

}
.interactive:hover{
	
	background-image:url("https://66.media.tumblr.com/e6f955f54b23d6e4b2ff07cfd3b197ac/tumblr_o7oeixOGKf1qfhbc2o4_500.gif");

}
.drawing:hover{
	
	background-image:url("http://40.media.tumblr.com/9bfed5a794f191f97999ea43bcfcba4b/tumblr_mhpx91SiZ91qfhbc2o2_1280.jpg");

}
.other:hover{
	
	background-image:url("https://66.media.tumblr.com/9c8bd371aced8fe4d85dc9e7fe9d58fd/tumblr_o76fnv04461qfhbc2o1_1280.jpg");

}


