
body {
    background-color: #ff3e3e;
}

main{
	padding-top:50px;
}

.video{
	margin-bottom:15px;
}
/*.content-wrapper {
    
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.thumbnail{
	border-radius:0;
	border:0;
	margin:5px;
	padding-right:0 !important;
	padding-left:0 !important;
}*/



.container{
	
	
	padding:10px 0 0 0;
	width:100%;
	margin: 0 auto;
	
}

.block{
	background-color:white;
	float: left;
	margin: 15px;
}



@media (min-width:1200px){ 
	.block{
			width:30vw;
			}
}

@media (max-width:992px){ 
	.block{
			width:40vw;
			}
}

@media (max-width:768px){ 
	.block{
			width:80vw;
			}
}







	img{
		width: 100%;
		height: auto;
		
	}

.caption{
	color:white;
	background-color:black;
	padding:5px;
}
	
.caption h3{
	font-family: 'Oswald', serif;
	font-size:15px;
	padding:5px;
	margin:0;
	
}

.caption p{
	font-family:'Open Sans', serif;
	font-size:13px;
	padding:5px;
	margin:0;
}